
@import url(./_masonry-post.scss);
@import url(./_post-masonry.scss);
@import url(./_tag-row.scss);
@import url(./_post-grid.scss);



@import "./variables";
@import "../../style/abstracts/variables";




.home {
    h1{
        width: 100%;
        // color: $text-color;
        
    }

    .regular-posts-container {
        // display: flex;
        width: 100%;
            }


.grid-row li {
    display: inline-block;
}

}

