<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hi. I'm Wentao Lu. My friends usually call me Luke. </p>
    <p> I was born and raised in China. Before attending Algonquin I had a Hydrualic Engineering degree, but after
        graduated I realized
        that it was not my favorite and I knew it was not too late to start a new career. </p>





</body>

</html>