<p>Since I have set up my customized video background, I got a lot of good feedback from my classmates and professors.
    Because it is not just a normal video, but it is a special background with my name on it.
</p>
<img src='https://i.ibb.co/xgztB5P/Ezgif-com-gif-maker.gif' alt='Ezgif.com-gif-maker' border='0'>
<p>First, go find some videos online. They are not supposed to be too long, so it's recommended to go for those videos
    specially made for zoom use. Their are quite a lot of options. You can go to <a
        href='https://www.wibbitz.com/blog/free-virtual-backgrounds-for-zoom-video-background/'>Wibbitz</a>，<a
        href='https://mixkit.co/free-stock-video/zoom-virtual-background/'>Mixkit</a> or <a
        href='https://coverr.co/stock-video-footage/zoom-virtual-backgrounds'>Coverr</a>
</p>
<p>If you just need a regular video background without your name in the corner, there are only need two steps to set
    up.Then, go to zoom app settings-Background and add the video as virtual background. (This may not apply to all
    users if you do not have a physical green screen. It all depends on your systems and hardware. See here for detail)
</p>
<p>To set up a customized video background, you can go to many websites. I personally recommend wave.video, which is
    where my background came from.
</p>
<p>It might take you up to 30 minutes to get it done, but trust me, it worth the effort.
</p>
<p>If you are editing the template in Wave.video, you can change your name, job title, font size and anything else. Then
    go to publish(Top right corner), click Render.
</p>
<p>After the video is prepared., you will need to download it to your computer. Please note that you will need to
    upgrade your account to download your customized video. It is always best to support the website. But if you are new
    to here and just wish to try it for the first time, an optional way is to share it to your youtube channel for free.
    Then you manage to download it from your channel.
</p>
<p>So that's all you need to know to get started with your special video background! Good luck!
</p>

<img src='https://i.ibb.co/qnsZxWf/post3.jpg' alt='post3' border='0'>



About my keto diet

<p>First of all, I know this topic is always controversial but not as much as politics. Here I am just to share my
    personal experience and feelings for your reference.
</p>
<p>I have been doing keto since Feb 22, 2020. It all started with my frustration about my belly fat, and before knowing
    this kind of diet, I had been doing cardio for 9 months, trying to lose some weight. I did make 20 pounds of weight
    loss, but then I stuck at the point and could not keep moving on.
</p>
<img src='https://i.ibb.co/nR2qSb5/D84-E58-AF-9202-417-E-A39-D-D799-AA0580-F1.jpg'
    alt='D84-E58-AF-9202-417-E-A39-D-D799-AA0580-F1' border='0'>
<figcaption>Keto Cookies I made</figcaption>
<p>Then I started doing keto. Honestly, in the beginning, it was a little uncomfortable because you have to cut down
    almost 95 percent of the carb supply. Still, the bad feeling did not last long. My body fat dropped to 12% with two
    months, and I was extremely satisfied.
</p>
<p>Doing keto gave me a better and healthier body and made me realize that we, as humankind, are genuinely not supposed
    to eat that large amount of carbs every day, from rice, noodles, bread to ice cream, coke/7-up, and Reese Peanut
    Butter cups. (Peanuts and butter are ok, but they put a lot of sugar into it) This is too much for our body.
</p>
<p>While comparing to a high carb diet, keto seems nuts: with around 75% of the energy provided by fat, 20% by protein,
    and 5% by carbs, you have to eat many fats.
</p>
<p>So why am I doing this even after I have reached my ideal weight? Here is why:
</p>
<p><strong>1. I always love greasy food.</strong> Now I can eat keto ice cream, keto bread, and butter, pork as much as
    I want WITHOUT
    worrying about gaining weight. This is the biggest reason. Don’t worry about being carb-deprived. You have tons of
    choices for protein and carbs!
</p>
<img src='https://i.ibb.co/54XCDBC/FF67-A9-F7-C8-FE-48-A4-B8-CB-03-D34-E14695-A.jpg'
    alt='FF67-A9-F7-C8-FE-48-A4-B8-CB-03-D34-E14695-A' border='0'>
<figcaption>Keto BBQ! yeeeeh! </figcaption>
<p><strong>2. Keto makes people more energetic.</strong> You will not feel hungry and become anxious quickly, and not
    feeling sleepy
    after meals because you are no longer controlled by the blood sugar variations. You are in charge of your body now.
    And since you do not easily get hungry, you get to choose when to eat or even not eat.
</p>
<p><strong>3. You have nothing to worry about.</strong>Technically, we can do keto forever without worrying about
    long-term
    side effects. Carbs are causing a lot of
    problems today, especially diabetes and obesity, and they are destroying our skin through a natural process called
    glycation. Our ancestors did not consume a lot of carbs, and they survived well. They died earlier because of the
    dangerous environment and zero medical care, not because of no carbs to eat.
</p>
<p>So keto or not keto? No matter what, I respect your choice. You can always try or switch to different
    diets. If you have any questions regarding keto, you can always reach me at <a
        href='mailto:wentaoluk@gmail.com'>wentaoluk@gmail.com</a>. I would love to
    help you out.</p>